#joinContainer {
  height: 100%;
  background-image: url("https://tatica.fedorapeople.org/Themes/F12/wallpaper-mosaico6.svg");
  background-size: cover;
  background-position: center;
}

#title {
  font-size: 63px;
  line-height: 68px;
  color: #FFFFFF;
  text-align: center;
}

#subtitle {
  font-size: 25px;
  margin-top: 15px !important;
  margin-bottom: 25px !important;
  margin-left: 80px !important;
  margin-right: 80px !important;
  color: #FFFFFF;
}

#NewContainer {
  color: #FFFFFF;
}

#goBtn {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
