<div id="joinContainer" fxLayoutAlign="center center">
  <div id="textCard" fxFlex="33">
    <div fxLayoutAlign="center">
      <h1 id="title" class="mat-title">
        Möchtest du der WG {{flatname}} beitreten?
      </h1>
    </div>
    <div fxLayoutAlign="center">
      <h2 id="subtitle" class="mat-title">
        Beschreibung: tdb ;) Warnung falls schon in einer WG sollte hier auch noch stehen...
      </h2>
    </div>
    <div id="NewContainer" fxLayoutAlign="center">
      <button id="goBtn" mat-raised-button color="accent" (click)="joinFlat()">Beitreten</button>
    </div>
  </div>
</div>
