/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";

mat-card {
  background-color: #FFFFFF;
  margin: 15px;
  width: 100%;
}
mat-card-title {
  font-size: 12pt;
}

html, body {
  height: 100%;
  background-color: #F5F5F5
}

.img-circle {
  border-radius: 50%;
  float:left;
}

.full-width {
  width: 100%;
}
.container{
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.text_small {
  font-size: 10pt;
}
.text_normal {
  font-size: 12pt;
}

.invisible_link {
  text-decoration: none;
  text-decoration-color: black;
}

.pull-right {
  float: right;
}

.cardless-border{
  margin-top: 25px;
  margin-bottom: 25px;
}


/*@ LARS why does this not work
hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}
*/
