.this-task-action {
  float:right;
  margin-top: 5px;
}

mat-checkbox {
  padding: 10px;
}
.task-points {
  font-weight: bold;
}

.icon-sm {
  padding-right: 10px;
  padding-top: 5px;
}
.img-circle.icon-sm {
  overflow: hidden;
  padding-top: 5px;
}

/* how to I set this on a higher level */
span {
  font-size:12pt;
  vertical-align:top;

}

.this-task-info {
  display: inline;
  flex-grow: 1;
  margin-top:7px;
}

