<script src="filter.component.ts"></script>
<mat-card>
  <mat-card-title>Filter</mat-card-title>
  <h3>Aufgaben</h3>
  <mat-form-field>
    <!--HOW DO I BIND THIS @LARS
    checkout FORMCONTROL-->
    <mat-select placeholder="Aufgabenauswahl" multiple >
      <mat-option *ngFor="let taskItem of taskList" [value]="taskItem">
        <img class="icon-select"
             src="{{getIconLocation(taskItem.icon)}}"
             alt="Smiley face"
             height="25px" width="auto">
        {{taskItem.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <section class="user-filter text_normal">
    <h3>Bewohner</h3>
    <mat-radio-group
      class="example-radio-group"
      [(ngModel)]="userFilterSelection">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let userItem of userList; let i = index"
        [value]="userItem" >
        {{userItem.username}}
      </mat-radio-button>
    </mat-radio-group>

  </section>


  <h3>Zeit </h3>
  insert noUiSlider {{userFilterSelection.username}}
  <h3>Punkte</h3>
  insert noUiSlider

  <button mat-button (click)="onFilterUpdateClicked()">Update</button>

</mat-card>
