<div (click)="onTaskClicked()" class="test" >
  <!--<img class="img-circle"-->
       <!--[style.display]="taskItemInfo.lastDoneUserId != null && taskItemInfo.done? 'block' : 'none'"-->
       <!--src="https://randomuser.me/api/portraits/women/15.jpg"-->
       <!--alt="Profile picture"-->
       <!--height="30px"-->
       <!--width="auto"-->
       <!--style="margin-right: 10px">-->

  <mat-icon [style.color]="getIconColor()">
    {{taskItemInfo.icon}}
  </mat-icon>
  <span >
    {{taskItemInfo.name}}</span>
  <!--<span&ndash;&gt;-->
    <!--[style.display]="taskItemInfo.done ? 'block' : 'none'">-->
    <!--am {{getLastDoneDateString()}} von Pat-->
  <!--</span>-->
  <div class="task-action"
       >
    <!--[style.display]="!taskItemInfo.done? 'block' : 'none'"-->
      <span class="task-points">{{taskItemInfo.points}}P</span>
      <mat-checkbox value="true"></mat-checkbox>

  </div>


</div>
