.task-action {
  vertical-align: middle;
  float:right;
  display: inline;

}

mat-checkbox {
  padding: 10px;
}
.task-points {
  font-weight: bold;
}

mat-icon {
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* how to I set this on a higher level */
span {
  font-size:12pt;
}
