<div>
    <div > <!-- VIEW ONLY -->
      <button mat-icon-button [matMenuTriggerFor]="task_option">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #task_option="matMenu">
        <button mat-menu-item>
          <mat-icon>loop</mat-icon>
          <span>Ändern</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Löschen</span>
        </button>
      </mat-menu>
      <mat-icon class="inline">fingerprint</mat-icon>
      <div class="inline">
        <h3>{{taskInfo.name}}</h3>
        <p>Beschreibung: {{taskInfo.description}}</p>
        <p>Punkte: {{taskInfo.points}}</p>
        <p>Häufigkeit: {{taskInfo.getRegularityString()}}</p>
        <p>Bearbeitungszeit: {{taskInfo.graceDays}} Tage</p>
        <p>Zuletzt erledigt von Jens am 10.07.2017</p>
      </div>
    <br class="clearInline"/>
  </div>
<div style="display:none">
  <mat-icon>
    call
  </mat-icon>

  <div > <!-- EDIT -->
    <form class="example-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Aufgabenname" value="Sushi">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Beschreibung" value="Sushi">
      </mat-form-field>
      <mat-slider class="full-width"
                  min="1"
                  max="10"
                  step="1"
                  value="2"
                  thumb-label="true"
      ></mat-slider>
      alle
      <mat-form-field >
        <input matInput type="number"
               placeholder="Häufigkeit"
               value="1">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="days">Tage</mat-option>
          <mat-option value="weeks">Wochen</mat-option>
          <mat-option value="years">Monate</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <script src="https://hammerjs.github.io/dist/hammer.js"></script>
</div>

  <hr [hidden]="isLast">

</div>
