#container {
  margin: 5px;
  width: 100%;

}

#pic {
  box-shadow: 3px 3px 10px #555555;
  margin: 10px;
  margin-right: 20px;
}

h1 {
  font-size: 40px;
  margin: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 23px;
}

#h1f {
  margin: 20px;
  margin-bottom: 10px;
}

#h1i {
  font-size: 40px;
  margin: 20px;
  margin-bottom: 10px;
}

