<div>
  <div class="container">

    <!-- VIEW ONLY -->
    <div class="container-left">
      <img class="icon-sm this-img-left"
           (click)="onIconClicked()"
           src="{{getIcon()}}"
           height="25px" width="auto">

      <div class="this-task-info"
           *ngIf="!taskInfo.isEditing">
        <h3>{{taskInfo.name}}</h3>
        <p>Beschreibung: {{taskInfo.description}}</p>
        <p>Punkte: {{taskInfo.points}}
        <p>Häufigkeit: {{taskInfo.getRegularityString()}}</p>
        <p>Bearbeitungszeit: {{taskInfo.graceDays}} Tage</p>
        <p [style.display]="taskInfo.lastDoneUserName != null ? 'block' : 'gone'">Zuletzt erledigt von Jens am 10.07.2017TOOOODOOOO</p>
      </div>
      <div class="this-task-info"
           *ngIf="taskInfo.isEditing">
        <!-- EDITING PANE -->
        <form class="example-form this-task-info">
          <mat-form-field class="full-width">
            <input [(ngModel)]="editingTaskInfo.name"
                   name="inputName"
                   matInput
                   placeholder="Aufgabenname">
            <!--<mat-error *ngIf="nameFormControl.hasError('empty')">-->
              <!--Please enter a valid email address-->
            <!--</mat-error>-->
          </mat-form-field>
          <mat-form-field class="full-width">
            <input [(ngModel)]="editingTaskInfo.description"
                   name="inputDesc"
                   matInput
                   placeholder="Beschreibung">
          </mat-form-field>
          <div>
            <mat-form-field class="">
              <input [(ngModel)]="editingTaskInfo.points"
                     name="inputPoints"
                     type="number"
                     matInput
                     placeholder="Punkte (zwischen 1 und 10)">
            </mat-form-field>
            <mat-form-field class="">
              <input [(ngModel)]="editingTaskInfo.graceDays"
                     name="inputTime"
                     type="number"
                     matInput
                     placeholder="Bearbeitungszeit">
              <span matSuffix>Tage</span>
            </mat-form-field>

          </div>
          alle
          <mat-form-field>
            <!--@LARS: WHY kommt immer 2???????-->
                   <!--value="{{editingTaskInfo.frequency}}"-->
            <input name="inputTime"
                   [(ngModel)]="editingTaskInfo.frequency"
                   matInput
                   type="number"
                   placeholder="Häufigkeit">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select"
                        [(ngModel)]="editingFrequencyTypeStr"
                        name="inputTime">
              <mat-option value="0">Tage</mat-option>
              <mat-option value="1">Wochen</mat-option>
              <mat-option value="2">Monate</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button
                  class="pull-right"
                  (click)="onSaveClicked()"
                  color="primary">Speichern</button>
        </form>
      </div>
      <!--<div id="overlay" onclick="off()" [style.display]="overlayVisible ? 'block' : 'none'"></div>-->
    </div>

    <div class="container-right">
      <button mat-icon-button class="this-task-action" [matMenuTriggerFor]="task_option">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #task_option="matMenu">
        <button mat-menu-item (click)="onMenuEditClicked()">
          <mat-icon>loop</mat-icon>
          <span>{{taskInfo.isEditing ? "Verwefen" : "Ändern"}}</span>
        </button>
        <button mat-menu-item (click)="onMenuDeleteClicked()">
          <mat-icon>delete</mat-icon>
          <span>Löschen</span>
        </button>
      </mat-menu>
    </div>

    <br class="clearInline"/>
    </div>

    <!--<mat-divider [hidden]="isLast"></mat-divider>-->
    <hr [hidden]="isLast"/>
 </div>
