<mat-card >
  <mat-card-title>Zu erledigen</mat-card-title>
  <app-task-item-detail
    *ngFor="let taskItem of taskTodoItems"
    [taskItemInfo]="taskItem"
    (taskCompleted)="onTaskCompleted($event)">
  </app-task-item-detail>

  <br/>
  <div>
    <mat-form-field>
      <mat-select placeholder="Planunabhängige Aufgabe"  [(ngModel)]="taskIrregularSelected">
        <mat-option *ngFor="let taskItem of taskIrregularItems" [value]="taskItem.id">
          {{ taskItem.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <button
      mat-raised-button color="primary"
      [disabled]="taskIrregularSelected == null"
      (click)="onIrregularTaskDone()">
      Erledigt
    </button>
  </div>

</mat-card>
