<div class="cardless-border">

  <section class="title-section">
    <img class="img-circle" src="https://randomuser.me/api/portraits/women/76.jpg"
         onerror="if (this.src != 'assets/no_user.jpg') this.src = 'assets/no_user.jpg';" alt="Smiley face"
         height="150px" width="150px">

    <div class="user-info">
      <h1>Johanne</h1>
      <p class="text_normal">Mitglied in DuerrleWG seit 21.12.2112</p>
      <p class="text_normal">Email: johanne1919@gmail.com</p>

    </div>
  </section>

  <section class="container">
    <app-tasks-history class="flex-item">
    </app-tasks-history>

    <app-abscenses class="flex-item">
    </app-abscenses>

  </section>
</div>

