<div class="cardless-border">

  <section class="title-section">
    <img class="img-circle" src="{{user.profile_image}}"
         onerror="if (this.src != 'assets/no_user.jpg') this.src = 'assets/no_user.jpg';" alt="Smiley face"
         height="150px" width="150px">

    <div class="user-info">
      <h1>{{user.username}}</h1>
      <p class="text_normal">Mitglied in {{user.flat}} seit MISSING</p>
      <p class="text_normal">Email: {{user.email}}</p>
    </div>
  </section>

  <section class="container">

    <app-abscenses class="flex-item"
      [userId]="userId" >
    </app-abscenses>

    <app-tasks-history class="flex-item"
    [updatedFilter]="crHistory">
    </app-tasks-history>

  </section>
</div>

